<!DOCTYPE html>
<html>
<head>
  <title>BitPayRails</title>
  <%= stylesheet_link_tag    "bit_pay_rails/application", media: "all" %>
  <%= javascript_include_tag "bit_pay_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
